*{
    padding: 0;
    margin:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    
}
.top{
    height:100vh;
    width:100%;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: center;
}
.logo{
    background-color: rgb(9, 174, 239);
}
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}  
nav ul li {
    list-style-type:none;
    display:inline-block;
    padding-top: 10px;
    padding-right: 25px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    color:orange;
    transition: .4s;
}
.button{
    background-color:rgb(9, 174, 239);
    color:black;
    text-decoration: none;
    border:2px solid transparent;
    font-weight:bold;
    padding: 10px 25px;
    border-radius:30px;
    transition: transform .4s;
}
.button:hover{transform:scale(1.2);}
.me{
  width: 45%;
  height: 80%;
  position: absolute;
  bottom:0;
  right:100px;
}
.aboutcontainer {
    margin-left: 8%;
    margin-top:250px;
   
}
.aboutcontainer h1{
    font-size: 60px;
    margin-bottom:20px;
}

.me img{
    height: 100%;
    position:absolute;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
    transition: left 2s, right 2s;
    overflow:hidden;
}
.me:hover .shape{bottom:40px;}
.me:hover .myself{left:45%;}

/*-----------education details-------*/
.edu{ height:100vh;
    width:100%;
    background-image:url(images/my2.jpg);
    background-size: cover;
    background-position: center;
    
}
.details{
    width:80%;
    border-radius: 20px;
    margin-top: 200px;
    margin-left:200px;
    text-align: left;
   padding: 10px 10px 10px 10px ;
    background-image: url(images/background.jpg);
    background-size: cover;
    background-position: cover;
    
}
/*-----------research-------*/
.research{
    height:100vh;
    width:100%;
    background-image:url(images/my2.jpg);
    background-size: cover;
    background-position: center;
}
.researchbox{
    width: 80%;
    margin:auto;
    text-align:left;
    padding-top:100px;
    
}

.window{
    border-radius:50px;
    overflow: hidden;
}
/*-----------skills-------*/
.skill{
    height:100vh;
    width:100%;
    background-image:url(images/my2.jpg);
    background-size: cover;
    background-position: center;
    width:100%;
    margin:auto;
    text-align: left;
    
}
.sdetail{
    width: 80%;
    margin:auto;
    text-align:left;
    padding-top:100px;
    
}
/*-----------Experience-------*/
.exp{
    height:100vh;
    width:100%;
    background-image:url(images/my2.jpg);
    background-size: cover;
    background-position: center;
    
}
.expdetails{
    width: 80%;
    margin:auto;
    text-align:left;
    padding-top:100px;
}
/*-----------project-------*/
.pro{
    height:100vh;
    width:100%;
    background-image:url(images/my2.jpg);
    background-size: cover;
    background-position: center;
   
}
.prodetails{
    width: 80%;
    margin:auto;
    text-align:left;
    padding-top:100px;
}
/*-----------eca-------*/
.eta{
    height:100vh;
    width:100%;
    background-image:url(images/my2.jpg);
    background-size: cover;
    background-position: center;  
}
.etadetail{
    width: 80%;
    margin:auto;
    text-align:left;
    padding-top:100px;
}
/*-----------footer-------*/
.contactfooter{
    
    text-align:center;
    width:100%;
    height:50%;
    background-color:grey}